button {
  margin: 0 5px 0 5px;
}

#main {
  height: 70vh;
  float: left;
  width: 100%;
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
}

#footer div {
  display: inline-flex;
}

#appVersion {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}